{% extends "base1.html" %}
{% load bulma_tags %}

{% block content %}
<h1 class="title">Login</h1>

<form method="post">
    {% csrf_token %}
    {{ form|bulma }}
    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Login</button>
        </div>
    </div>
</form>

<div class="mt-4">
    <p>Don't have an account?</p>
    <div class="buttons">
        <a class="button is-info" href="{% url 'recruiter_signup' %}">Register as Recruiter</a>
        <a class="button is-success" href="{% url 'job_seeker_signup' %}">Register as Job Seeker</a>
    </div>
</div>
{% endblock %}
